body {
    background-image :url('https://wallpapercave.com/wp/Rp2U7It.jpg');
   
    background-size:  cover;
    background-position: center;
    background-attachment: fixed;
      
}


.card {
    background-color: #01070769;
    padding: 15px;
    border: none;
    top: 100%;
    left: -1%;
}

.input-box {
    position: relative;
    box-shadow: 0px 5px 50px #2dc8c869;
}

.input-box i {
    position: absolute;
    right: 13px;
    top: 15px;
    color: #7633ae;
    cursor: pointer;
}

.logo {
    width: 800px;
    cursor: pointer;
    padding-top: 15%;
    
}

.form-control {
    height: 50px;
    background-color: #2dc8c869;
}

.form-control:focus {
    background-color: #f6f8f069;
    box-shadow: none;
    border-color: rgb(228, 207, 22);
}

.border-bottom {
    border-bottom: 2px solid rgb(37, 34, 219);
    margin: 0 auto;
    display: block;
}

.list i {
    font-size: 19px;
    color: red;
}

.list small {
    color: #dedddd;
}

.clark {
    color: rgb(14, 4, 4);
    font-size: large;
}

.cancer {
    left: 75%;
}


h1 {
    color: green;
}
       


